<%= erb :nav %>

<div class="post2-container">
  <% @posts.each do |p| %>
    <h2><%= p.title %></h2>
    <textarea  class="text-box" name="text" autocomplete="off" rows="25" cols="30"><%= p.content %></textarea>

  <% end %>
</div>
