<title>Dashboard</title>
<div class="main-container">

<%= erb :nav %>

  <div class="dash-container">
    <% @posts.each do |p| %>
      <h2 class="post-title"><%= p.title %></h2>
      <!-- <hr style="border-color:#B80C09;margin-right:50%;"> -->
      <textarea class="text-box" name="text" rows="25" cols="30" readonly><%= p.content %></textarea>
    <% end %>
  </div>
</div>

<%= erb :footer %>
