<title>Entry</title>

<!-- add class to buttons for styling -->

<div class="container medium">
  <div class="row">
    <button id="start-btn" class="column" type="button" name="create">
    <a id="start-link" href="/users/create">Get Started</a></button>
  </div>

  <div class="row">
    <button id="log-btn" class="column" type="button" name="login">
      <a id="log-link" href="/users/login"</a>Login</button>
  </div>
</div>
