<title>Entry</title>

<style>

   body {
     background-image: url('/images/bg.jpg');
     background-size: cover;
     background-position: 150px 50px;
     font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
     font-weight: bold;
   }

</style>

<!-- 'LOGIN' AND 'GETTING STARTED' CONTAINER -->

<div class="logo-container">
   <div class="row"><h1 class="pri-logo">FILMSTER</h1></div>
</div>
   <form action="/dashboard/?" method="get">
     <a class="column img" href="/dashboard"><img class="home-icon" src="/images/home-icon3.png" title="dashboard"></a>
   </form>

  </div>
</div>

<div class="sub-container medium">
  <div class="row">
    <a id="start-btn" class="column" href="/users/create">Get Started</a>
  </div>

  <div class="row">
    <a id="log-btn" class="column" href="/users/login">Login</a>
  </div>
</div>

<%= erb :footer %>
