<title>Entry</title>

<!-- <style>
   .bg-img {
     background-size: cover;
     background-position: 150px 50px;
     z-index: 0;
     position: fixed;
   }
</style> -->

<!-- ENTRY PAGE NAV BAR -->
<div class="main-container">
  <div class="top-container">
    <div class="row">
     <div class="column"><h1 class="primary-logo">FILMSTER</h1></div>
     <div class="column-5">
     <form action="/dashboard/?" method="get">
        <input class="home-icon" type="image" src="/images/home-icon3.png" title="dashboard">
     </form>
     </div>
  </div>
</div>

<!-- 'LOGIN' AND 'GETTING STARTED' CONTAINER -->
<div class="mid-container medium">
  <div class="row">
    <div class="column1"><a id="start-btn" href="/users/create">Get Started</a></div>
  </div>
  <div class="row">
    <div class="column2"><a id="log-btn" href="/users/login">Login</a></div>
  </div>
 </div>
</div>
<%= erb :footer %>
