<title>Entry</title>

<!-- add class to buttons for styling -->
<button type="button" name="create"><a href="/users/create">Get Started</a></button><br>
<button type="button" name="login"><a href="/users/login"</a>Login</button>
