<title>Entry</title>

<style>
   body {
     background-image: url('https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80');
     background-size: cover;
     font-family: 'Roboto', sans-serif;
   }
</style>

<!-- ICON CONTAINER -->
<div class="main-container">
  <div class="row first">
    <form action="/dashboard/?" method="get">
        <a id="dash-btn" class="column" href="/dashboard"><img class="home-icon" src="/images/home-icon.png" title="dashboard"></a>
    </form>
  </div>
</div>

<!-- LOGIN AND GETTING STARTED CONTAINER -->
<div class="sub-container medium">
  <div class="row">
    <a id="start-btn" class="column" href="/users/create">Get Started</a>
  </div>

  <div class="row">
    <a id="log-btn" class="column" href="/users/login">Login</a>
  </div>
</div>
