<div class="foot-container">
  <div class="row">
    <a id="foot-link" class="column" href="#">FILMSTER, Inc.</a>
    <a id="foot-link" class="column" href="#">About</a>
    <a id="foot-link" class="column" href="#">Privacy</a>
  </div>
</div>
