<div class="foot-container">
  <div class="row footer-row">
    <a class="column footer-link" href="#">FILMSTER, Inc.</a>
    <a class="column footer-link" href="#">About</a>
    <a class="column footer-link" href="#">Privacy</a>
  </div>
</div>
