<!-- add nav bar with following menu items: profile, logout, new post, all posts -->

    <!-- link to dashboard page -->
<% if session['user_id'] == nil %>
    <a href="/">Create Account</a>
    <a href="/users/login">Login</a>

<% else %>
    <a href="?">Profile</a>
    <a href="/posts/create">New Post</a>

    <form class="" action="/logout" method="post">
       <input type="submit" value="Log out">
    </form>

<% end %>
