html {
  max-height: 100%;
  max-width: auto;
  background-color: #EDE9EA;
}

body {
  font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
  color: #B80C09;
  -webkit-background-size: cover;
}

.main-container {
  min-height: 90vh;
  min-width: auto;
}

#entry-bg {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-position: 150px 50px;
}
/********************** NAV BAR  **********************/
.nav-container {
    background: #B80C09;
    position: fixed;
    min-width: 100%;
    z-index: 1;
    top: 0;
}

.sec-logo {
    color: #01BAEF;
    font-weight: bold;
}

/* .active {
  background-color: blue;
} */

/******************** ENTRY PAGE *******************/
.mid-container.medium {
  width: fit-content;
  margin: auto;
  margin-top: 10%;
}

.primary-logo {
  color: #B80C09;
}

.home-icon:hover {
  opacity: .5;
}

#log-btn {
  position: relative;
  padding: 1em 2.5em;
  top: 1em;
}

#start-btn {
  padding: 15px;
}

#demo-btn {
  position: relative;
  top: 1.2em;
  padding: 4px 2.9em;
  background-color: rgb(4, 180, 26);
  border-color: rgb(4, 180, 26);
  color: #EDE9EA;
  font-size: 12px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

#start-btn, #log-btn {
  background-color: #B80C09;
  border-color: #B80C09;
  color: #EDE9EA;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

#start-btn:hover, #log-btn:hover {
  background-color: #01BAEF;
  color: #B80C09;
}

.column2 {
  margin-top: 1.5pc;
}

/******************* CREATE ACCOUNT SECTION  **************/
.join-container {
  padding-top: 5%;
  position: relative;
  display: grid;
  justify-content: center;
  top: 3pc;

}

#join-form {width: 25pc;}

.join-header {
    font-size: -webkit-xxx-large;
    text-align: center;
  }

#text {border-color: #01BAEF;}


/******************** NEW POST SECTION *****************/
.newPost-container {
  display: grid;
  justify-content: center;
  position: relative;
  top: 9pc;
}

#post-form {width: fit-content;}

#title, #text {border-color: #01BAEF;}

/********************** LOGIN SECTION ****************/
.login-container {
  top: 10pc;
  display: grid;
  justify-content: center;
  position: relative;
}

#login-form {
    width: fit-content;
  }

.login-header {
  font-size: -webkit-xxx-large;
  text-align: center;
}

#email, #password {border-color: #01BAEF;}


/********************** USER'S PROFILE CARD ****************/
.card-container {
  position: absolute;
  float: right;
  right: .5em;
  background-color: #EDE9EA;
  border-radius: 0px 10px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
   0 11px 6px -7px rgba(43,43,43,0.1);
}

.box {
  margin-top: 8%;
}

.header {
  text-transform: uppercase;
  color: #01BAEF;
  font-weight: bold;
}

.header, .headerVal {
  line-height: .25;
}

#cancel-btn {
  margin-left: 20%;
  background-color: #01BAEF;
  border-color: #01BAEF;
  color: #B80C09;
}

#cancel-btn:hover {
  background-color: #B80C09;
  border-color: #B80C09;
  color: #01BAEF;
}

/*********************** USER'S POSTS ******************/
.post-container {
  width: fit-content;
  margin-top: 10%;
  margin-left: 35%;
  padding: 10px 30px 25px;
  background-color: whitesmoke;
}

#delete-btn, #edit-btn {
  width: 100%;
  background-color: #01BAEF;
  border-color: #01BAEF;
  color: #B80C09;
}

#delete-btn:hover, #edit-btn:hover {
  background-color: #B80C09;
  border-color: #B80C09;
  color: #01BAEF;
}

/********************** EDIT POST PAGE **************/
.save-btn {
  width: 100%;
}

.back-btn {
  margin: -20px 0 0 0;
}

.save-btn, .back-btn {
  background-color: #EDE9EA;
  border-color: #01BAEF;
  color: #B80C09;
}

.save-btn:hover,
.back-btn:hover {
  background-color: #01BAEF;
  border-color: #01BAEF;
  color: #B80C09;
}

/*********************** DASHBOARD NEWSFEED *************/
.header-container {
  display: grid;
  justify-content: center;
}

.dash-header {
  position: relative;
  margin-top: 4em;
  text-transform: uppercase;
  color: #01BAEF;
  font-weight: bold;
}

.dash-container {
  width: fit-content;
  margin-top: 1.5%;
  padding: 10px 30px 25px;
  position: relative;
  margin-left: 30%;
  background-color: whitesmoke;
}

.post-title {
  font-size: 2em;
  text-align: center;
  line-height: .5em;
  margin-top: 15%;
}

.text-box {
  border-color: #01BAEF;
  resize: none;
  height: 15em;
  max-width: 100%;
  border: #01BAEF solid 3px;
}

/* LOGIN/SUBMIT/JOIN BTNS (shared properties) */
#login-btn,
#join-btn,
.form-btn {
  background-color: #EDE9EA;
  border-color: #01BAEF;
  color: #B80C09;
}

#login-btn:hover,
#join-btn:hover,
.form-btn:hover {
  background-color: #01BAEF;
  border-color: #01BAEF;
  color: #B80C09;
}

/*************************** FOOTER SECTION ************************/
.foot-container {
  position: relative;
  margin-top: 3%;
  display: grid;
  justify-content: center;
}

#foot-link {
  color: #01BAEF;
  font-size: 1pc;
}
