html {
  width: auto;
  height: 100%;
  scroll-behavior: smooth;
}

/******************** ENTRY PAGE GRID *****************/
.pri-logo {
  color: #B80C09;
  margin-left: 2.5pc;
  right: 45pc;
}

.column.img {
  float: right;
  margin-top: -4.5pc;
  margin-right: 1pc;
}

.sub-container.medium {
  width: fit-content;
  margin: auto;
  margin-top: 10%;
}

.first {
  margin-right: 12px;
}

.home-icon {
  width: 45px;
  height: auto;
}

#start-btn, #log-btn {
  background-color: #B80C09;
  border-color: #B80C09;
  color: #EDE9EA;
  font-size: 15px;
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;

}

#start-btn:hover, #log-btn:hover {
  background-color: #01BAEF;
  color: #B80C09;
}

img {
  opacity: 1;

}

img:hover {
  opacity: .5;

}
