<title>Join</title>

<%= erb :nav %>
<%= erb :style %>

<!-- CREATE ACCOUNT GRID -->

<div class="join-container">
    <form id="join-form" action="/users/create" method="post">
      <label class="join-header" for="">Join Us</label>
      <input id="text" type="text" name="first_name" autocomplete="off" required placeholder="first name"><br>
      <input id="text" type="text" name="last_name" autocomplete="off" required placeholder="last name"><br>
      <input id="text" type="text" name="email" autocomplete="off" required placeholder="email"><br>
      <input id="text" type="text" name="password" required placeholder="password"><br>
      <input id="text" type="text" name="birthday" autocomplete="off" required placeholder="date of birth...mm/dd/yyyy">

      <div>
        <input id="join-btn" type="submit" name="Join">
      </div>
    </form>
</div>
