<title>Sign Up</title>

<h1>Join Us</h1>

<form action="/users/create" method="post">
  <input type="text" name="first_name" required placeholder="first name"><br>
  <input type="text" name="last_name" required placeholder="last name"><br>
  <input type="email" name="email" required placeholder="email"><br>
  <input type="password" name="password" required placeholder="password"><br>
  <input type="text" name="birthday" required placeholder="date of birth">

  <div>
    <input type="submit" name="submit">
  </div>

</form>
