<h1>App Logo</h1>

<form action="/users/login" method="post">
  <input type="email" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>

  <div>
    <input type="submit" name="login" value="Login">
  </div>

</form>
