

<form action="/users/login" method="post">
  <label for="">Login</label>
  <input type="email" name="email" required placeholder="email"><br>
  <input type="password" name="password" required placeholder="password"><br>

  <div>
    <input type="submit" name="login" value="Login">
  </div>

</form>
