<title>Profile</title>

<%= erb :nav %>
<form class="" action="/users/<%= @user.id %>" method="post">
   <input type="submit" value="Cancel Account">
</form>

<h2>Welcome, <%= @user.first_name %></h2>



<!-- list remaining attributes (email, posts) in a styled container -->
