<title>Profile</title>

<h2>Welcome, <%= @user.first_name %></h2>

<button type="button" name="button"><a href="/users/create">New Post</a></button>

<!-- list remaining attributes (email, posts) in a styled container -->
