<title>New Post</title>
<%= erb :nav %>

<!----- NEW POST FORM ----->
<div class="main-container">
  <div class="newPost-container">
    <form id="post-form" action="/posts/create" method="post">
      <label for="name">Title</label>
      <input id="title" type="text" name="title" placeholder="enter title..." autocomplete="off"><br>
      <label for="message">Post</label>
      <textarea id="text" name="content" placeholder="express yourself..." rows="30" cols="50"></textarea><br>

      <p>
      <button class="form-btn" type="submit" onclick="alert('New post created!')">Submit</button>
      </p>
    </form>
   </div>
</div>
<%= erb :footer %>
