<form action="/posts/create" method="post">
    <input type="text" name="title" placeholder="title"><br>
    <textarea name="content" rows="20" cols="50"></textarea><br>

  <p>
    <button type="submit" onclick="alert('New post created!')">Submit</button>
  </p>

</form>
