<div class="main-container">
  <div class="newPost-container">
   <form id="post-form" action="/posts/:id" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="name">Title</label>
      <input id="title" type="text" name="title" autocomplete="off"><br>
      <label for="message">Post</label>
      <textarea id="text" name="content" value="patch" rows="30" cols="50"></textarea><br>

      <p>
        <button class="form-btn" type="submit" onclick="alert('Changes saved!')">Save Changes</button>
      </p>
   </form>
  </div>
</div>
